.hero-section {
  width: 100%; /* Occupa tutta la larghezza disponibile */
  height: 100vh; /* Occupa l'intera altezza della viewport */
  display: flex; /* Utilizza il layout flexbox */
  flex-direction: column; /* Dispone gli elementi in colonna */
  justify-content: center; /* Centra gli elementi verticalmente */
  align-items: center; /* Centra gli elementi orizzontalmente */
}

.hero-section-description {
  display: flex; /* Utilizza flexbox per la disposizione interna */
  flex-direction: column; /* Organizza gli elementi in colonna */
  justify-content: center; /* Centra gli elementi verticalmente */
  align-items: center; /* Centra gli elementi orizzontalmente */
  text-align: center; /* Allinea il testo al centro */
  padding: 10%; /* Aggiunge spazio intorno al contenuto */
  padding-bottom: 5%; /* Riduce il padding inferiore */
  margin: 0 auto; /* Mantiene il contenuto centrato orizzontalmente */
}

.hero-section button {
  padding: 10px 20px; /* Aggiunge spazio interno per un aspetto più grande e cliccabile */
  font-size: 18px; /* Imposta la dimensione del testo del pulsante */
  border-radius: 5px; /* Arrotonda leggermente gli angoli */
  border: none; /* Rimuove il bordo predefinito */
}
