.headerLoginButton {
  display: flex;
  align-items: center;
}
.headerButtonsContainer {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add some space between the buttons */
}
