* {
  cursor: none;
}

.cursor-dot {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  z-index: 11000;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  backdrop-filter: blur(8px);
  transition: opacity 0.4s ease, width 0.5s ease, height 0.5s ease, transform 0.5s ease;
  opacity: 1;
}

.cursor-hidden {
  opacity: 0;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%) scale(0.1);
}

.cursor-hover {
  transform: translate(-50%, -50%) scale(0.3);
}

@media screen and (max-width: 768px) {
  .cursor-dot {
    display: none !important;
  }
  .cursor-hover {
    display: none !important;
  }
}