/* Aggiungi questo CSS al tuo file CSS esistente */
.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr; 
    height: 100vh;
  }
  
  .left-div {
    padding: 20px; /* Padding interno */
    background-color: bisque;
  }
  
  .right-div {
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .accordion-container {
    position: fixed; /* Mantiene l'elemento fisso durante lo scroll */
    top: 40vh; /* Imposta la distanza dall'alto */
    right: 0; /* Imposta la distanza dal lato destro */
    width: 40vw; /* Imposta la larghezza desiderata */
    min-height: 30vh; /* Imposta l'altezza automatica */
    z-index: 1000; /* Assicurati che sia sopra altri elementi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per un effetto di profondità */
    overflow: auto; /* Aggiungi lo scroll se necessario */
}