.listContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.configurationCard {
  transition: all 0.5s;
  border: 1px solid black;
  width: 50%;
  height: 50%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 15px 15px 30px #131313, -15px -15px 30px #000000;
}

.configurationCard:hover {
  border: 1px solid var(--accent);
  transform: scale(1.05);
}

.configurationCard:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
