.Container {
  /* Imposta un contenitore principale con dimensione piena della finestra */
  width: 100%; /* Larghezza al 100% del contenitore */
  height: 100vh; /* Altezza pari alla finestra visualizzata */
  display: flex; /* Usa il layout flexbox per il posizionamento degli elementi */
  flex-direction: column; /* Dispone gli elementi in colonna */
  gap: 1rem; /* Distanza di 1rem tra gli elementi figli */
  backdrop-filter: brightness(0.5); /* Applica un filtro di luminosità per scurire lo sfondo */
}

.Controller {
  /* Imposta la sezione del controller con altezza del 20% */
  height: 20%; /* Imposta l'altezza al 20% */
}

.CenteredDiv {
  /* Centra il contenuto sia orizzontalmente che verticalmente */
  display: flex; /* Usa flexbox per il posizionamento */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Dispone gli elementi in colonna */
  height: 100%; /* Altezza piena */
}

.BottomRow {
  /* Rende la riga inferiore flessibile e adattabile */
  flex: 1 1 auto; /* Flessibile, può crescere e ridursi automaticamente */
}

.Panel {
  /* Crea un pannello con disposizione verticale */
  display: flex; /* Usa flexbox per il posizionamento */
  flex-direction: column; /* Dispone gli elementi in colonna */
}

.PanelContent {
  /* Imposta la sezione interna del pannello per riempire il contenitore */
  height: 100%; /* Imposta altezza piena */
  width: 100%; /* Imposta larghezza piena */
  display: flex; /* Usa flexbox per il layout */
  flex-direction: row; /* Dispone gli elementi orizzontalmente */
  align-items: center; /* Allinea gli elementi verticalmente al centro */
  justify-content: center; /* Allinea gli elementi orizzontalmente al centro */
  overflow: hidden; /* Nasconde qualsiasi contenuto che trabocca */
  border-radius: 0.5rem; /* Angoli arrotondati di 0.5rem */
}

.ResizeHandleOuter {
  /* Gestore di ridimensionamento esterno */
  flex: 0 0 1.5em; /* Imposta larghezza fissa di 1.5em */
  position: relative; /* Posizione relativa per posizionamento assoluto dei figli */
  outline: none; /* Rimuove il bordo esterno al focus */
  
  --background-color: transparent; /* Colore di sfondo trasparente di default */
}

.ResizeHandleOuter[data-resize-handle-active] {
  /* Cambia il colore di sfondo quando il gestore di ridimensionamento è attivo */
  --background-color: var(--accent); /* Imposta il colore di sfondo con la variabile accent */
}

.ResizeHandleInner {
  /* Gestore di ridimensionamento interno */
  position: absolute; /* Posizione assoluta rispetto al genitore */
  top: 0.25em; /* Distanza dal bordo superiore */
  bottom: 0.25em; /* Distanza dal bordo inferiore */
  left: 0.25em; /* Distanza dal bordo sinistro */
  right: 0.25em; /* Distanza dal bordo destro */
  border-radius: 0.25em; /* Angoli arrotondati di 0.25em */
  background-color: var(--accent); /* Colore di sfondo con la variabile accent */
  transition: background-color 0.2s linear; /* Aggiunge una transizione fluida per il cambiamento di colore */
}

.Icon {
  /* Imposta l'icona come un quadrato di dimensione 1em */
  width: 1em; /* Larghezza di 1em */
  height: 1em; /* Altezza di 1em */
  position: absolute; /* Posizione assoluta per centrare l'icona */
  left: calc(50% - 0.5rem); /* Posiziona orizzontalmente al centro */
  top: calc(50% - 0.5rem); /* Posiziona verticalmente al centro */
}
