.grid-container {
    display: grid;
    height: 100%; /* Ensure the grid container fills the height */
    grid-template-columns: repeat(3, 1fr); /* Start with equal widths */
}

.resizable-box {
    overflow-y: auto;
    overflow-x: hidden;
    resize: horizontal; /* Allow horizontal resizing */
    min-width: 100%; /* Set a minimum width */
    max-width: 100vh;
    height: 100%; /* Fill the height of the grid */
    position: relative; /* For positioning child elements */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
}

.overview-container {
    overflow-y: auto;
    overflow-x: hidden;
    resize: vertical; /* Allow horizontal resizing */
    /*min-width: 100%; /* Set a minimum width */
    height: 100%; /* Fill the height of the grid */
    position: relative; /* For positioning child elements */
    max-height: 35vh;
    min-height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
}