.tabs {
  display: flex;
  position: relative;
  background-color: var(--primary);
  padding: 0.75rem;
  border-radius: 99px;
}

.container {
  display: flex;
  position: fixed;
  overflow: hidden;
  border-radius: 99px;
  top: 40px;
  justify-content: center; /* Center the content horizontally */
  width: 100%; /* Ensure it takes the full width */
  transition: transform 0.3s ease-in-out; /* Smooth transition for showing/hiding */
  z-index: 1000; /* Assicurati che l'header sia sopra gli altri componenti */
}

.container.hidden {
  transition: transform 0.3s ease-in-out; /* Ensure transition is applied */
  transform: translateY(calc(-100% - 40px));
}

.container.visible {
  transition: transform 0.3s ease-in-out; /* Ensure transition is applied */
  transform: translateY(0);
}

.logo-image {
  width: 120%; /* L'immagine sarà più grande del tab */
  height: auto;
  transition: transform 0.3s ease-in-out; /* Aggiungi una transizione per l'hover */
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--primary);
}

.container.hidden {
  transform: translateY(-300%); /* Move the header out of view */
}

.container.visible {
  transform: translateY(0); /* Bring the header into view */
}
.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 10vw;
  max-width: 75px;
  min-width: 60px;
  font-weight: 500;
  border-radius: 99px;
  transition: color 0.15s ease-in;
}
@media (max-width: 245px) {
  .tab {
    font-size: 18px;
  }
}

.container input[type="radio"]:checked + label {
  color: var(--fontColor);
}
.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}
.container input[id="radio-4"]:checked ~ .glider {
  transform: translateX(300%);
}
.container input[id="radio-5"]:checked ~ .glider {
  transform: translateX(400%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 10vw;
  max-width: 75px;
  min-width: 60px;
  background-color: var(--secondary);
  z-index: 1;
  border-radius: 99px;
  transition: transform 0.25s ease-out;
}

.profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 3vw;
}
