.component-container {
  /* Imposta un contenitore flessibile in colonna, centrando gli elementi sia orizzontalmente che verticalmente */
  display: flex;
  flex-direction: column; /* Gli elementi figli saranno disposti in una colonna */
  justify-content: center; /* Allinea gli elementi al centro lungo l'asse principale (verticale in questo caso) */
  align-items: center; /* Allinea gli elementi al centro lungo l'asse trasversale (orizzontale) */
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
  height: 100%; /* Imposta l'altezza al 100% del contenitore */
}

.component-content {
  /* Imposta un contenitore interno che segue la stessa logica di layout del contenitore principale */
  display: flex;
  flex-direction: column; /* Gli elementi figli saranno disposti in una colonna */
  justify-content: center; /* Allinea gli elementi al centro lungo l'asse principale (verticale) */
  align-items: center; /* Allinea gli elementi al centro lungo l'asse trasversale (orizzontale) */
  width: 100%; /* Imposta la larghezza al 100% del contenitore */
  height: 100%; /* Imposta l'altezza al 100% del contenitore */
}
