.carousel-container {
    display: flex; /* Imposta il layout del contenitore su flexbox */
    justify-content: center; /* Centra gli elementi figli orizzontalmente */
    align-items: center; /* Centra gli elementi figli verticalmente */
    width: 100%; /* Imposta la larghezza del contenitore al 100% del genitore */
}
