.header {
  top: 40px; /* Stick it to the top with a small offset */
  display: grid;
  place-items: center; /* Centers content both horizontally and vertically */
  width: 100%;
  height: fit-content; /* Set height to fit content */
  transition: transform 0.3s ease-in-out; /* Ensure transition is applied */
  position: fixed; /* Keep the header fixed */
}

.header.hidden {
  transform: translateY(calc(-100% - 40px));
}

.header.visible {
  transform: translateY(0);
}

.navHeader {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: relative;
  height: calc(100% - 60px);
  background-color: var(--primary-color-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  padding: 15px 2px;
  border-radius: 25px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.nav-section {
  display: flex;
  flex: 1;
  justify-content: center;
  z-index: 9;
}

/* Header.css */
.logo-section img {
  width: 100px; /* Imposta la larghezza desiderata */
  height: auto; /* Mantiene il rapporto d'aspetto */
}