/* Hide the default cursor */
body {
  min-height: 100vh;
}

/* Hide default cursor for all elements */
* {
  cursor: none;
}

/* Custom cursor styles */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  pointer-events: none;
  z-index: 1501;
  opacity: 0;
  transition: opacity 0.4s ease, width 0.5s ease, height 0.5s ease,
    transform 0.5s ease;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  background: rgba(255, 255, 255, 0.6); /* Adjust contrast */
  border-radius: 50%;
  backdrop-filter: blur(3px); /* Add blur effect */
  box-sizing: border-box;
}

/* Adjust the size of the custom-cursor on hover */
.custom-cursor.custom-cursor-active {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.068); /* Adjust background for blending */
}

/* Show the custom cursor when hovering over the body */
body:hover .custom-cursor {
  opacity: 1;
}

/* Hide the custom cursor on small screens */
@media screen and (max-width: 1200px) {
  .custom-cursor {
    display: none !important;
  }
}
