:root {
  --primary: #7c0000;
  --secondary: #aa0000;
  --accent: #c4a000;
  --background: #f4e8dc;
  --text: #f4e8dc;
  --grey: #4a4a4a;
  --darkgrey: #1a1a1a;
}

body {
  color: var(--text);
  min-height: 100vh;
  margin: 0;
  font-family: "SpaceGrotesk";
}

* {
  cursor: none !important;
}

*:hover {
  cursor: none !important;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Assicurati che lo sfondo sia dietro gli altri contenuti */
}

font-face {
  font-family: "GT-Alpina"; /* Scegli un nome per il font */
  src: url("./assets/fonts/GT-Alpina-Condensed-Thin-Trial.otf")
    format("opentype"); /* Percorso al file OTF */
  font-weight: normal; /* Puoi specificare il peso se necessario */
  font-style: normal; /* Puoi specificare lo stile se necessario */
}

@font-face {
  font-family: "SpaceGrotesk"; /* Scegli un nome per il font */
  src: url("./assets/fonts/SpaceGrotesk-Light.ttf") format("opentype"); /* Percorso al file OTF */
  font-weight: normal; /* Puoi specificare il peso se necessario */
  font-style: normal; /* Puoi specificare lo stile se necessario */
}

input {
  font-family: "SpaceGrotesk";
}
