:root {
  /* Definizione delle variabili di colore per il sito */
  --primary: #7c0000; /* Colore primario */
  --secondary: #aa0000; /* Colore secondario */
  --accent: #c4a000; /* Colore di accento */
  --background: #f4e8dc; /* Colore di sfondo */
  --text: #f4e8dc; /* Colore del testo */
  --grey: #4a4a4a; /* Colore grigio */
  --darkgrey: #1a1a1a; /* Colore grigio scuro */
  --lightgrey: #d1d1d17c; /* Colore grigio chiaro */
}

body {
  /* Impostazioni per il corpo del documento */
  color: var(--text); /* Colore del testo */
  min-height: 100vh; /* Imposta l'altezza minima del body al 100% della finestra */
  margin: 0; /* Rimuove il margine predefinito */
  font-family: "SpaceGrotesk"; /* Imposta il font di base */
}

* {
  /* Disabilita il cursore per tutti gli elementi */
  cursor: none !important;
}

*:hover {
  /* Disabilita il cursore al passaggio del mouse su qualsiasi elemento */
  cursor: none !important;
}

/* Stile per la barra di scorrimento */
body::-webkit-scrollbar {
  width: 10px; /* Imposta la larghezza della scrollbar */
  display: none; /* Nasconde la scrollbar */
}

/* Stile per il track della scrollbar (parte scorrevole) */
::-webkit-scrollbar-track {
  background: var(--background); /* Colore di sfondo del track */
}

/* Stile per il "thumb" della scrollbar (parte che può essere trascinata) */
::-webkit-scrollbar-thumb {
  background: var(--primary); /* Colore di sfondo del thumb */
}

/* Stile del thumb al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary); /* Colore del thumb al passaggio del mouse */
}

.background {
  /* Impostazioni per l'immagine di sfondo fissa */
  position: fixed; /* Posiziona l'immagine in modo fisso */
  top: 0; /* Posizione in alto */
  left: 0; /* Posizione a sinistra */
  width: 100%; /* Occupa tutta la larghezza */
  height: 100%; /* Occupa tutta l'altezza */
  background-size: cover; /* Copre l'intera area senza distorcere */
  background-position: center; /* Posiziona l'immagine al centro */
  z-index: -1; /* Posiziona l'immagine di sfondo dietro al contenuto */
}

font-face {
  /* Definisce il font "GT-Alpina" */
  font-family: "GT-Alpina"; /* Nome del font */
  src: url("./assets/fonts/GT-Alpina-Condensed-Thin-Trial.otf")
    format("opentype"); /* Percorso del file OTF */
  font-weight: normal; /* Peso del font */
  font-style: normal; /* Stile del font */
}

@font-face {
  /* Definisce il font "SpaceGrotesk" */
  font-family: "SpaceGrotesk"; /* Nome del font */
  src: url("./assets/fonts/SpaceGrotesk-Light.ttf") format("opentype"); /* Percorso del file OTF */
  font-weight: normal; /* Peso del font */
  font-style: normal; /* Stile del font */
}

input {
  /* Imposta il font per gli input */
  font-family: "SpaceGrotesk"; /* Font "SpaceGrotesk" per gli input */
}
