/* Contenitore principale della landing page */
.landingContainer {
  height: 100vh; /* Altezza al 100% della viewport */
  width: 100%; /* Larghezza al 100% */
  display: flex; /* Usa flexbox per il layout */
  justify-content: end; /* Allinea il contenuto alla fine del contenitore orizzontalmente */
  align-items: center; /* Allinea il contenuto verticalmente al centro */
  flex-direction: column; /* Dispone gli elementi in colonna */
  z-index: 0; /* Imposta il livello di sovrapposizione al livello 0 */
}

/* Stile per il titolo della landing page */
.landingTitle {
  color: var(--accent); /* Colore del testo definito nella palette */
  text-align: center; /* Allinea il testo al centro */
  margin-bottom: 15vh !important; /* Distanza inferiore di 15% della viewport, con override */
}
