body {
  background-color: var(--background-primary);
  color: var(--fontColor);
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-main);
}

/* Remove comment to show background video */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  /* Adjust opacity as needed */
  filter: blur(10px);
  /* Adjust blur as needed */
  z-index: -1;
  pointer-events: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/backgroundImage.jpg'); /* Sostituisci con il percorso della tua immagine */
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Imposta l'opacità desiderata */
  z-index: -1; /* Assicurati che lo sfondo sia dietro gli altri contenuti */
}

h1,
h2,
h3 {
  color: var(--primary-color-main);
}

a {
  color: var(--secondary-color-main);
}

button {
  background-color: var(--primary-color-main);
  color: var(--fontColor);
}

button:hover {
  background-color: var(--secondary-color-main);
}