body {
  background-color: var(--background-primary);
  color: var(--fontColor);
  min-height: 100vh;
  margin: 0;
  font-family: 'SpaceGrotesk';
}

* {
  cursor: none !important;
}

*:hover {
  cursor: none !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-main);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-main);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/backgroundImage.jpg'); /* Sostituisci con il percorso della tua immagine */
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Imposta l'opacità desiderata */
  z-index: -1; /* Assicurati che lo sfondo sia dietro gli altri contenuti */
}

@font-face {
  font-family: 'GT-Alpina'; /* Scegli un nome per il font */
  src: url('./assets/fonts/GT-Alpina-Condensed-Thin-Trial.otf') format('opentype'); /* Percorso al file OTF */
  font-weight: normal; /* Puoi specificare il peso se necessario */
  font-style: normal; /* Puoi specificare lo stile se necessario */
}

@font-face {
  font-family: 'SpaceGrotesk'; /* Scegli un nome per il font */
  src: url('./assets/fonts/SpaceGrotesk-Light.ttf') format('opentype'); /* Percorso al file OTF */
  font-weight: normal; /* Puoi specificare il peso se necessario */
  font-style: normal; /* Puoi specificare lo stile se necessario */
}
