/* Stile per il campo di input di testo */
.textfield {
  width: 100%; /* Occupa tutta la larghezza disponibile */
  height: 100%; /* Occupa tutta l'altezza disponibile */
  padding: 10px; /* Spazio interno per migliorare la leggibilità */
  border-radius: 4px; /* Angoli arrotondati */
  box-sizing: border-box; /* Include padding e bordo nella dimensione totale */
  background-color: transparent; /* Sfondo trasparente */
  border: none; /* Nessun bordo */
  color: var(--text); /* Colore del testo definito tramite variabile CSS */
}

/* Rimuove il contorno quando il campo è attivo */
.textfield:focus {
  outline: none;
}

/* Stile del testo segnaposto */
.textfield::placeholder {
  color: #b3b3b3; /* Colore grigio chiaro */
}

/* Contenitore dell'input della chatbot */
.chatbot-input {
  border: 1px solid var(--secondary); /* Bordo con colore secondario */
  box-shadow: var(--secondary) 0px 0px 0.25em, /* Effetto ombra leggera */
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background-color: var(--background); /* Colore di sfondo definito tramite variabile CSS */
  border-radius: 4px; /* Angoli arrotondati */
  margin: 10px; /* Spazio esterno */
}

/* Cambia stile quando il campo di input è attivo */
.chatbot-input:focus-within {
  border-color: var(--secondary); /* Colore del bordo secondario */
  background-color: transparent; /* Sfondo trasparente */
}

/* Stile del pulsante di invio */
.sendButton {
  background-color: transparent; /* Sfondo trasparente */
  color: var(--secondary); /* Colore del testo definito tramite variabile CSS */
  border: 1px solid var(--secondary); /* Bordo con colore secondario */
  border-radius: 4px; /* Angoli arrotondati */
  padding: 10px; /* Spazio interno */
  width: 20%; /* Occupa il 20% della larghezza disponibile */
  transition: all 0.3s; /* Transizione fluida per le modifiche di stile */
}

/* Cambia colore al passaggio del mouse */
.sendButton:hover {
  background-color: var(--secondary); /* Sfondo con colore secondario */
  color: var(--background); /* Colore del testo uguale allo sfondo della chat */
}

.textfield:focus {
  outline: none;
}

.textfield::placeholder {
  color: #b3b3b3;
}

/* Stile per il pulsante di attivazione/disattivazione della chat */
.chatToggleButton {
  z-index: 1600; /* Imposta una priorità di visualizzazione molto alta */
}
